version: 2.1

jobs:
  test:
    machine:
      image: ubuntu-2204:2022.04.2
    steps:
      - checkout

      - run:
          name: login to docker hub
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u idrissduval --password-stdin

      - run: docker --version

      - run:
          name: update package list
          command: sudo apt update

      - run:
          name: install nodejs
          command: sudo  apt install nodejs -y

      - run: node --version

      - run:
          name: install pnpm package manager
          command: npm install -g pnpm

      - run:
          name: Install app dependencies
          command: pnpm install --no-frozen-lockfile

      - run:
          name: Switch to prod Environment
          command: sed -i "s/PROD=0/PROD=1/g" ./.env

      - run:
          name: Execute test suite
          command: pnpm run test

      - run:
          name: build image and increment app version
          command: docker build -t idrissduval/api.camwego:$CIRCLE_BUILD_NUM .

      - run:
          name: Generate latest version tag
          command: docker tag idrissduval/api.camwego:$CIRCLE_BUILD_NUM idrissduval/api.camwego:latest

      - run:
          name: push idrissduval/api.camwego:$CIRCLE_BUILD_NUM image on docker regisgtry
          command: docker push idrissduval/api.camwego:$CIRCLE_BUILD_NUM

      - run:
          name: push idrissduval/api.camwego:latest image on docker regisgtry
          command: docker push idrissduval/api.camwego:latest

  prod:
    docker:
      - image: python:latest
    steps:
      - checkout
      - run:
          name: Update cache
          command: apt update

      - run:
          name: Install ansible
          command: pip install ansible
      - run:
          name: Install ssh for login
          command: apt install sshpass

      - run:
          no_output_timeout: 30m
          name: Deploy app in production
          command: ansible-playbook ./infrastructure/deploy.yml

      - run:
          name: Setting network and configure firewall
          command: ansible-playbook ./infrastructure/network.yml

workflows:
 catalogue:
    jobs:
      - test
      - prod:
          requires:
            - test
          filters:
            branches:
              only: master
