---
- name: Stop container
  become: true
  command: "docker stop catalogue"

- name: Delete container
  become: true
  command: "docker rm catalogue"

- name: Delete Image
  become: true
  command: "docker rm idrissduval/api.camwego"

- name: pulling image
  docker_image:
    name: idrissduval/api.camwego
    source: pull

- name: start app inside a container
  docker_container:
    name: catalogue
    image: idrissduval/api.camwego
    state: started
    ports:
      - "8223:8000"
...
