---
- name: Stop container
  become: true
  command: "docker stop catalogue"
  when: "docker ps  | grep catalogue"

- name: Delete container
  become: true
  command: "docker rm catalogue"
  when: "docker ps -a | grep catalogue"

- name: Delete Image
  become: true
  command: "docker image rm idrissduval/api.camwego"
  when: "ocker image ls | grep idrissduval/api.camwego*"

- name: pulling image
  docker_image:
    name: idrissduval/api.camwego
    source: pull

- name: start app inside a container
  docker_container:
    name: catalogue
    image: idrissduval/api.camwego
    state: started
    ports:
      - "8223:8000"
...
