---
- name: Clone Github project
  become: true
  git:
    repo: "https://github.com/IDRISSHACKER/api.camwego.git"
    dest: "./api.camwego"
    clone: yes
    update: yes
    force: yes

- name: switch to production env
  become: true
  command:
    cmd: sed -i "s/PROD=0/PROD=1/g" ./api.camwego/.env

- name: kill existing service
  become: true
  docker_compose:
    project_src: "./api.camwego"
    state: absent

- name: Create and start container
  become: true
  docker_compose:
    project_src: "./api.camwego"
  register: output

- name: Show container logs
  become: true
  debug:
    var: output
...

